/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/config/form-section1-1.php
/config/form-section1-2.php
/config/form-section1-3.php
/config/form-section2-1.php
/config/form-section2-2.php
/config/graph-key.php
/config/form-rules.php
/resources/views/template-pdf
